/* GLOBAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f1e9;
}

h1, h2, h3 {
  font-family: "Brush Script MT", "Lucida Handwriting", cursive;
}

/* HEADER */
header {
  text-align: center;
  padding: 15px 0;
  background-color: #d8c4b6;
}

header h1 {
  margin: 0;
  font-size: 40px;
  font-family: "Brush Script MT", cursive;
  color: #4a3f35;
}

/* HOME PAGE */
.home-container {
  text-align: center;
  padding: 30px 20px;
}

.home-img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

.home-title {
  font-size: 50px;
  margin-top: 20px;
  font-family: "Brush Script MT", cursive;
}

.home-sub {
  font-size: 18px;
  margin-bottom: 25px;
}

.shop-btn {
  background-color: #d8c4b6;
  padding: 12px 35px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
  color: #4a3f35;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

/* PRODUCTS PAGE */
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 15px;
}

.product-card {
  background: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

/* CART */
.cart-container {
  text-align: center;
  padding: 30px;
}

.add-btn {
  font-size: 40px;
  background-color: #d8c4b6;
  border-radius: 50%;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-top: 20px;
}

/* PROFILE */
.profile-container {
  padding: 30px;
  text-align: center;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.change-photo {
  margin-top: 5px;
  font-size: 13px;
  color: #6d5b5b;
  text-decoration: underline;
  cursor: pointer;
}

.info-box {
  width: 85%;
  margin: 20px auto;
  background: white;
  padding: 15px;
  border-radius: 12px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* ORDER STATUS */
.status-container {
  padding: 20px;
  text-align: center;
}

.status-options {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.status-item {
  flex: 1;
  text-align: center;
}

.status-item button {
  background-color: #d8c4b6;
  border: none;
  padding: 10px;
  border-radius: 12px;
  width: 70px;
}

.about-box {
  background: white;
  margin-top: 25px;
  padding: 20px;
  border-radius: 15px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.about-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
